/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        ht_custom: ht_custom {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_CUSTOM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        mod_lpar: mod_lpar {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_LPAR";
            bindings = <&kp LEFT_BRACKET>, <&kp LEFT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        mod_rpar: mod_rpar {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_RPAR";
            bindings = <&kp RIGHT_BRACKET>, <&kp RIGHT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        mod_coma: mod_coma {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_COMA";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };

        mod_period: mod_period {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_PERIOD";
            bindings = <&kp PERIOD>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_RALT)>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC        &kp N1  &kp N2  &kp N3            &kp N4        &kp N5                                                          &kp N6  &kp N7         &kp N8    &kp N9    &kp N0    &kp EQUAL
&kp TAB        &kp Q   &kp W   &kp E             &kp R         &kp T                                                           &kp Y   &kp U          &kp I     &kp O     &kp P     &kp MINUS
&kp BACKSPACE  &kp A   &kp S   &kp D             &kp F         &kp G                                                           &kp H   &kp J          &kp K     &kp L     &kp SEMI  &kp SQT
&mod_lpar      &kp Z   &kp X   &kp C             &kp V         &kp B               &mod_coma                      &mod_period  &kp N   &kp M          &kp APOS  &kp PIPE  &kp FSLH  &mod_rpar
                               &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LC(LEFT_SHIFT)  &ht_custom LEFT_SHIFT SPACE    &lt 2 RET    &mo 1   &kp RIGHT_ALT  &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        numeric_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&trans  &none  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MULTIPLY                    &none   &none   &none   &none  &none  &none
&trans  &none  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PLUS                           &none   &none   &none   &none  &none  &none
&trans  &none  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp MINUS                          &none   &none   &none   &none  &none  &none
&trans  &none  &kp KP_NUMBER_0  &kp COMMA        &kp PERIOD       &kp KP_DIVIDE    &trans    &trans  &none   &none   &none   &none  &none  &trans
                                &trans           &trans           &trans           &trans    &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        navi_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&trans      &kp F1  &kp F2    &kp F3       &kp F4   &kp F5                     &kp F6   &kp F7     &kp F8        &kp F9           &kp F10  &trans
&trans      &none   &none     &kp PG_UP    &none    &kp F11                    &kp F12  &mkp LCLK  &kp UP_ARROW  &mkp RCLK        &none    &trans
&kp DEL     &none   &kp HOME  &kp PG_DN    &kp END  &none                      &none    &kp LEFT   &kp DOWN      &kp RIGHT_ARROW  &trans   &trans
&kp INSERT  &none   &none     &kp LC(INS)  &none    &none    &trans    &trans  &trans   &trans     &trans        &trans           &trans   &trans
                              &trans       &trans   &trans   &trans    &trans  &trans   &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
